@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



h1 {
    color: blue;
    text-transform: uppercase;
    text-align: left;
    font-family: 'open_sansregular';
}

h2 {
    font-size: 14px;
    font-family: 'open_sansregular';
}

p {
    font-size: 12px;
    text-indent: 2em;
    word-spacing: 2px;
    white-space: normal;
    line-height: 1.5;
    font: bold;
    font-family: Arial, Helvetica, sans-serif; 
}
img {
    border: black solid 2px;
}
code {
    text-decoration: underline;
}